body {
  font-size: 16px;
  color: #111;
  padding: 0;
  margin: 0;
  background: #fff;
  min-width: 320px;
}
textarea,
input,
select {
  resize: none;
  outline: none;
  font-size: 1em;
}
.main {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 10px;
  line-height: 1.5em;
  word-wrap: break-word;
}
.main .title {
  text-align: center;
}
.main .title h1 {
  display: inline-block;
  font-weight: 500;
  font-size: 30px;
  text-align: left;
  line-height: 1.1em;
  margin: 15px 0;
}
.main textarea {
  width: 100%;
  height: 150px;
  border: solid 1px #ccc;
  padding: 1%;
  line-height: 140%;
  box-sizing: border-box
}
.main textarea:hover {
  border-color: #999;
}
.main textarea:focus {
  border-color: #59f;
}